<?xml version="1.0"?>
<model>
  <name>EmberEye Phoenix</name>
  <version>1.0</version>
  <sdf version='1.6'>phoenix.sdf</sdf>

  <author>
   <name>Kavin Kailash Ravie</name>
   <email>kravie@andrew.cmu.edu</email>
  </author>

  <description>
    This is a model of the EmberEye Phoenix drone.
  </description>
</model>
